header
{
    text-align: center;
    font-size: 30px;
    
}
.dbd
{
    font-size: 20px;
}
article
{
    font-size: 20px;
}
h1
{
    font-size: 30px;
    color:
}
.title2
{
    text-align: end;
}
.title3
{

}
body
{
    background-color: black;
    color: white;
}